// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
// Anglais (États-Unis) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SETUP DIALOGEX 0, 0, 334, 295
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Tomb Raider Chronicles"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    COMBOBOX        IDC_GFXADAPTER,13,22,308,71,CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_OUTSETTINGS,13,67,308,79,CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_RESOLUTION,21,98,117,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "TXT_Windowed",IDC_WINDOWED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,121,115,10
    COMBOBOX        IDC_TEXRES,20,171,118,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "TXT_Hardware",IDC_HARDACCEL,"Button",BS_AUTORADIOBUTTON,155,100,160,10
    CONTROL         "TXT_Software",IDC_SOFTWARE,"Button",BS_AUTORADIOBUTTON,155,115,160,10
    CONTROL         "TXT Volumetric Fog",IDC_VOLUMEFOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,130,159,10
    CONTROL         "TXT Bilinear",IDC_BILINEAR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,145,160,10
    CONTROL         "TXT Bump Map",IDC_BUMPMAP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,185,160,10
    CONTROL         "TXT Low Quality Textures",IDC_LOWTEXT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,160,160,10
    CONTROL         "TXT Low Quality Bump Maps",IDC_LOWBUMP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,190,160,10
    GROUPBOX        "Txt_Sound",1017,7,231,320,33
    CONTROL         "TXT_Disable",IDC_NOSOUND,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,253,230,67,10
    COMBOBOX        IDC_SNDADAPTER,13,244,308,71,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,109,273,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,175,273,50,14
    GROUPBOX        "Txt_GraphicsAdapter",1001,7,7,320,39
    GROUPBOX        "Txt_OutputSettings",1002,7,56,320,158
    GROUPBOX        "TXT_Resolution",1009,15,85,128,62
    GROUPBOX        "TXT_Texture Resolution",1013,14,158,129,34
    GROUPBOX        "TXT_Render Options",1023,148,85,173,123
    CONTROL         "TXT_Disable_FMV",IDC_NOFMV,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,175,158,10
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    109, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

109 AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Anglais (États-Unis) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Français (France) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Français (France) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED


IDR_ACCEL1 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
	VK_ADD, IDR_VKADD, NOINVERT, ALT, VIRTKEY
	VK_ESCAPE, IDR_VKESCAPE, NOINVERT, CONTROL, VIRTKEY
	VK_RETURN, IDR_VKRETURN, NOINVERT, ALT, VIRTKEY
	VK_SUBTRACT, IDR_VKSUBTRACT, NOINVERT, ALT, VIRTKEY
}

