*.tlog
*.layout
*.sdf
*.opendb
*.idb
*.map
*.mak
*.sym
*.cpe

/OUTPUT/*
/BUILD/*
/x64/*
/EXTERNAL/*
/SPEC_PC/RCe55348
/SPEC_PC/RCd55348
/SPEC_PC/RCc55348
/SPEC_PC/RCb55348
/SPEC_PC/RCa55348
/SPEC_PC/RCa24416
/scripts/gextr
/DISC/*