*.tlog
*.layout
*.sdf
*.opendb
*.idb

/BUILD/*
/x64/*
/EXTERNAL/*
/SPEC_PC/RCe55348
/SPEC_PC/RCd55348
/SPEC_PC/RCc55348
/SPEC_PC/RCb55348
/SPEC_PC/RCa55348
/SPEC_PC/RCa24416
/scripts/gextr
/GAME/VERSION.C

/DISC/Original/
/DISC/*.EXE
/DISC/*.DAT
/DISC/*.XA
/DISC/*.STR
/DISC/*.SYM
/DISC/*.MAP
/DISC/*.CPE
/DISC/*.ZIP
/DISC/*.BIN
/DISC/*.CUE
/DISC/*.OBJ
/GAME/*.OBJ
/SPEC_PSX/*.OBJ